@import "./variables/colors";
@import "./variables/font";
@import "./pages/homePage";
@import "./components/header";
@import "./components/footer";
@import "./pages/productPage";
@import "./pages/contactPage";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
