.homepage-container {
  min-height: 100vh;
  max-width: 100vw;
  background: linear-gradient(
    $backgroundColor-Linear,
    $backgroundColor-Linear-second
  );
  text-align: center;
  .img-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    img {
      max-height: 500px;
      overflow: hidden;
    }
  }

  .review-box {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 1em;
    background-color: $highlight-Color-XtraLight;

    .text {
      display: flex;
      flex-direction: column;
      padding: 1em;
      font-family: $fontRegular;
    }
  }

  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $backgroundColor-Linear-second;
    padding: 2em;

    h1,
    p {
      padding: 1em;
      font-family: $fontRegular;
      text-align: center;
    }
  }
  .img-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    img {
      max-height: 500px;
      overflow: hidden;
    }
  }

  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    height: fit-content;
    padding: 2em;
    background-color: $backgroundColor-Linear-second;
    font-family: $fontRegular;

    div {
      width: fit-content;
      padding: 1em;
      display: flex;
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 600px) {
  .homepage-container {
    .review-box {
      display: flex;
      flex-direction: column;
      .row {
        display: flex;
        flex-direction: row;
        min-height: 30vh;
      }
    }

    .info-box {
      display: flex;
      flex-direction: row;
    }
  }
}
